<main class="container fade-in">

    <h1 class="row mt-3 text-center">Fornecedores</h1>

    <h2 class="row mx-3">Filtro de fornecedores</h2>
    <form class="row mx-3">
        <div class="my-3 col-12 gx-5 d-flex flex-column">
            <input [(ngModel)]="name" (ngModelChange)="filterSuppliers()" class="border rounded py-2" type="text" placeholder="Nome do fornecedor" name="supplierName">
        </div>
    </form>

    <ul class="row list-unstyled text-center mx-3">
        <div class="col-4 gx-3" *ngFor="let supplier of filteredSuppliers">
            <li class="my-3 border shadow bg-body-tertiary rounded pb-3">
                <p class="fs-4 fw-bold my-2">{{ supplier.id }}. {{ supplier.name }}</p>
                <p class="fs-5 my-2">Telefone: {{ supplier.telephone }}</p>
                <p class="fs-5 my-2">Email: {{ supplier.email }}</p>
                <p><button class="btn btn-danger my-3" (click)="deleteSupplier(supplier.id)">Excluir fornecedor</button></p>
            </li>
        </div>
    </ul>
</main>

