<main class="container fade-in">

    <h1 class="row mt-3 text-center">Estoque de Produtos</h1>

    <h2 class="row mx-3">Filtro de produtos</h2>
    <form class="row mx-3">
        <div class="my-3 col-5 gx-5 d-flex flex-column">
            <input [(ngModel)]="productName" (ngModelChange)="filterProducts()" class="border rounded py-2" type="text" placeholder="Nome do produto" name="productName">
        </div>

        <div class="my-3 col-5 gx-5 d-flex flex-column">
            <input [(ngModel)]="supplierName" (ngModelChange)="filterProducts()" class="border rounded py-2" type="text" placeholder="Nome do fornecedor" name="supplierName">
        </div>
        
        <div class="col-2 form-floating d-flex flex-column">
            <select [(ngModel)]="critical"  (ngModelChange)="filterProducts()" class="form-select" name="critical" id="critical">
                <option value="any" selected>Qualquer estoque</option>
                <option value="critical">Somente estoque crítico</option>
            </select>
        </div>
        
    </form>

    <ul class="row list-unstyled text-center mx-3">
        <div class="col-4 gx-3" *ngFor="let product of filteredProducts">
            <li class="my-3 border shadow bg-body-tertiary rounded pb-3">
                <p class="fs-4 fw-bold my-2"> {{ product.id }}. {{ product.name }}</p>
                <p class="fs-4 my-2" [ngClass]="product.stock > product.threshold ? 'text-success' : 'text-danger'">Estoque: {{ product.stock }} {{ product.unit }}</p>
                <p class="fs-5 my-2">Estoque crítico: {{ product.threshold }} {{ product.unit }}</p>
                <ul class="fs-5 my-2 mx-5 list-unstyled border rounded">Fornecedores
                    <button class="ms-2 my-2 fs-6 btn btn-primary" (click)="addSupplier(product)">Adicionar novo</button>
                    <li class="d-flex flex-row justify-content-around border rounded mx-5 my-2" *ngFor="let supplier of product.suppliers">
                        <p class="my-2 fs-6">{{ supplier.name }}</p> <a class="my-2 fs-6" (click)="removeSupplier(product, supplier)">Excluir</a>
                    </li>
                </ul>
                <p><button class="btn btn-danger my-3" (click)="deleteProduct(product.id)">Excluir produto</button></p>
            </li>
        </div>
    </ul>
</main>
